/* 
    Color Scheme:
    Get your favourite theme here: https://colorhunt.co/ and change all occurrences of below colors
    
        #1A1A2E Black
        #16213E Dark Blue
        #0F3460 Blue
        #E94560 Red 

    Fonts:
    https://fonts.google.com/

    go to google fonts and select one regular and one bold font and replpace the import url
    change font-family in 
        html, body
        ff-jose
        font-big

*/

@import url("https://fonts.googleapis.com/css2?family=Jost&family=Quicksand&display=swap");

html,
body {
  margin: 0;
  font-family: Quicksand, sans-serif;
  background-color: #F7F9FF;
  /* color: white; */
}
.active {
  /* transition: transform 0.2s;
  transform: scale(1.1); */
  /* background: transparent !important; */
  background: #1977f31a;
  border-left: 3px solid #1977f3;
}
.active > span {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.w-mc {
  width: max-content;
}
.ff-jose {
  font-family: "Jost", sans-serif;
}
.fs-10 {
  font-size: 10px;
}
.font-big {
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.btn-blue{
  height: 50px;
  width: 237px;
  border-radius: 10px;
  color: white;
  background: #0F6EFF;
}
.btn-blue:hover {
  color: white;
  background: #0d61df;
}
.br-blue{
  border: 1px solid #DAE6FF;
  border-radius: 10px;
}
.search-box {
  height: 50px;
  width: 15vw !important;
  border: 1px solid #E9E9E9;
  border-radius: 10px;  
  border-left: none;
}
.search-icon {
  height: 50px;
  border: 1px solid #E9E9E9;
  border-radius: 10px;
  border-right: none !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-box:focus{
  border: 1px solid #E9E9E9;
  border-left: none;
  box-shadow:none;
}
.filter-dd {
  height: 50px;
  border: 1px solid #E9E9E9;
  border-radius: 10px;

}

.table>thead {
  vertical-align: middle;
}
thead {
  border-style: hidden;
}
.table-head {
  height: 48px;
  background: #F8F8F8;
}
.table-hover:hover{
  background: #F8F8F8 !important;
}
table th:first-child{
  border-radius:10px 0 0 10px;
}

table th:last-child{
  border-radius:0 10px 10px 0;
}


.switch {
  position: relative;
  display: inline-block;
  width: 37.57px;
  height: 19.27px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #DADEE3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "-";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  bottom: 1.5px;
  left: 1.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0F6EFF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0F6EFF;
}

input:checked + .slider:before {
  color: #0F6EFF;
  content: "+";
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  color: #DADEE3;
  border-radius: 50%;
}

.table-img {
  float: left;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  position: relative;
  object-fit: cover;
}

.bg-dark {
  background: #001738 !important;
}
.bg-blue {
  background-color: #0f3460;
}
.text-red {
  color: #e94560;
}
.text-black {
  color: #1a1a2e;
}
.dropdown-item:active {
  background-color: #001738  !important;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInTop {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInBottom {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInBottomTechnology {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-in-left {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
}
.slide-in-top {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInTop;
}
.slide-in-bottom {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInBottom;
}

.top-navbar {
  border-bottom: 1px solid #DAE6FF;
}
.res-p5 {
  padding-top: 5vh;
}
@media only screen and (max-width: 991px) {
  .res-p5 {
    padding-top: 0px;
  }
}