/* 
    Color Scheme:
    Get your favourite theme here: https://colorhunt.co/ and change all occurrences of below colors
    
        #1A1A2E Black
        #16213E Dark Blue
        #0F3460 Blue
        #E94560 Red 

    Fonts:
    https://fonts.google.com/

    go to google fonts and select one regular and one bold font and replpace the import url
    change font-family in 
        html, body
        ff-jose
        font-big

*/

@import url("https://fonts.googleapis.com/css2?family=Jost&family=Quicksand&display=swap");

html,
body {
  margin: 0;
  font-family: Quicksand, sans-serif;
  /* background-color: #16213E; */
  /* color: white; */
}
.active {
  /* transition: transform 0.2s;
  transform: scale(1.1); */
  /* background: transparent !important; */
  background: #1977f31a;
  border-left: 3px solid #1977f3;
}
.active > span {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.ff-jose {
  font-family: "Jost", sans-serif;
}
.fs-10 {
  font-size: 10px;
}
.font-big {
  font-family: "Jost", sans-serif;
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 2px;
}
.bg-dark {
  background: #001738 !important;
}
.bg-blue {
  background-color: #0f3460;
}
.text-red {
  color: #e94560;
}
.text-black {
  color: #1a1a2e;
}
.dropdown-item:active {
  background-color: #0f3460 !important;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInTop {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInBottom {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInBottomTechnology {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-in-left {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
}
.slide-in-top {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInTop;
}
.slide-in-bottom {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInBottom;
}

.top-navbar {
  border-bottom: 1px solid #DAE6FF;
}